.burger {
	height: 70px;
	position: relative;
	&__bar {
		display: block;
		height: 2px;
		background-color: #fff;
		margin: 5px 0 0;
		transition: all .1s linear .23s;
		position: relative;
	}
	&__bar_mt_0 {
		margin-top: 0;
	}
	&__hidden-list {
		display: block;
		position: fixed;
		list-style:none;
		padding: 87px 10px 10px;
		margin: 0;
		box-sizing: border-box;
		min-width: 50%;
		background-color: #fff;
		height: 100%;
		top: 0;
		right: -50%;
		transition: right .2s;
		z-index: 2001;
	}
	&__hidden-checkbox {
		display: none;
	}
	&__btn {
		color: #fff;
		padding: 5px;
		position: absolute;
		right: 0px;
		top: 22px;
		cursor: pointer;
		transition: right .23s;
		z-index: 2002;
		width: 38px;
	}
	&__hidden-checkbox:checked ~ &__hidden-list {
		right: 0;
	}
	&__hidden-checkbox:checked ~ &__btn &__bar {
		background-color: $accent;
	}
	&__list-link {
		display: flex;
    	justify-content: space-between;
		align-items: center;
		min-width: 122px;
		width: calc(81.25% - 15px);
		max-width: 540px;
		border-width: 0px;
		border-bottom-width: 1px;
		border-style: solid;
		border-image: linear-gradient(to right, $accent 0%, #fff 100%);
		border-image-slice: 1;
		color: #000;
		letter-spacing: 0.2em;
		font-size: 11px;
		font-weight: normal;
	}
	&__list-link_button {
		background-color: transparent;
		text-align: start;
		font-family: inherit;
	}
	&__list-link_button:focus {
		outline: none;
	}
	&__icon {
		width: 20px;
		height: 20px;
	}
	&__list-item_bottom {
		position: absolute;
		width: calc(100% - 20px);
		bottom: 22px;
	}
}

@media (min-width: 576px) {
	.burger__list-link {
		font-size: 13px;
	}
}

@media (min-width: 768px) {
	.burger__list-link {
		font-size: 15px;
	}
}

@media (min-width: 992px) {
	.burger__list-link {
		font-size: 17px;
	}
}