.cabinet {
	&__form_notifications {
		display: none;
	}
	&__checkbox {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: normal;
		font-family: 'News Cycle';
		letter-spacing: 0.2em;
		border-bottom: 1px solid rgba(255,133,133,0.6);
		margin-top: 15px;
	}
	&__avatar {
		position: absolute;
		margin: 0 auto;
    	left: 0;
    	right: 0;
    	top: 30px;
		width: 80px;
		height: 80px;
		border-radius: 1000px;
		object-fit: cover;
	}
	&__avatar-form {
		margin-top: 45px;
	}
	&__avatar-message {
		display: block;
	}
	&__form {
		width: 100%;
	}
	&__form_password {
		margin: 0 auto;
	}
	&__input {
		text-align: left;
		box-sizing: border-box;
		font-weight: normal;
		display: block;
		width: 100%;
		font-family: inherit;
		font-size: 14px;
		letter-spacing: 0.2em;
		margin: 0px auto 10px;
		border: none;
		border-bottom: 1px solid $accent;
		cursor: pointer;
	}
	&__container {
		min-width: 280px;
		text-align: center;
		width: 81.25%;
		max-width: 1140px;
		margin: 0 auto;
	}
	&__button {
		border: 1px solid $accent;
		background-color: transparent;
		color: $accent;
		font-family: inherit;
		font-weight: bold;
		letter-spacing: 0.1em;
		font-size: 12px;
		padding: 0 14px;
		border-radius: 10px;
		vertical-align:top;
		line-height: 19px;
		float: right;
		cursor: pointer;
	}
	&__grid {
		margin: 26px auto 0px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__grid-link {
		width: 49%;
		margin: 0 0.5%;
	}
	&__grid-item {
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
	&__show-more {
		flex-basis: 100%;
		margin-top: 11px;
		height: 40px;
		margin-bottom: 25px;
	}
}

@media (min-width: 768px) {
	.cabinet {
		&__avatar-form {
			margin-top: 0px;
		}
		&__form_notifications {
			display: block;
		}
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}
		&__avatar {
			position: initial;
			margin: 0 auto;
			width: 150px;
			height: 150px;
			object-fit: cover;
			border-radius: 1000px;
		}
		&__grid-link {
			width: 49%;
		}
		&__userinfo {
			margin-top: 26px;
			width: 40%;
			order: 2;
			padding: 0 1%;
		}
		&__grid {
			width: 60%;
			order: 1;
		}
		&__form {
			margin-top: 5px;
		}
	}
}

@media (min-width: 992px) {
	.cabinet {
		&__grid-link {
			width: 32%;
		}
		&__grid {
			width: 70%;
		}
		&__userinfo {
			width: 30%;
		}
	}
}

.list {
	display: flex;
	align-items: center; 
	justify-content: space-between;
	max-width: 768px;
	height: 100%; 
	margin: 0 auto;
	font-size: 22px;
	font-weight: normal;
	font-family: 'News Cycle';
	&__item {
		list-style-type: none;
	}
	&__link {
		color: #fff;
	}
	&__button {
		font-size: inherit;
		font-weight: inherit;
		font-family: inherit;
		color: #fff;
		background-color: transparent;
		border: none;
	}
}

.clearfix {
	clear: both;
}