.cabinet {
	&__avatar {
		position: absolute;
		margin: 0 auto;
    	left: 0;
    	right: 0;
    	top: 30px;
		width: 80px;
		height: 80px;
		border-radius: 1000px;
	}
	&__form {
		margin: 45px auto 0;
		width: 100%;
		// max-width: 1140px;
		// padding: 0 15px;
	}
	&__input {
		box-sizing: border-box;
		display: block;
		width: 100%;
		font-family: inherit;
		font-size: 14px;
		letter-spacing: 0.2em;
		margin: 0 auto;
		border: none;
		border-bottom: 1px solid $accent;
	}
	&__input-name {
		margin-bottom: 10px;
	}
	&__input-email {
		margin-bottom: 5px;
	}
	&__container {
		min-width: 280px;
		text-align: center;
		width: 81.25%;
		max-width: 1140px;
		margin: 0 auto;
	}
	&__button {
		border: 1px solid $accent;
		background-color: transparent;
		color: $accent;
		font-family: inherit;
		font-weight: bold;
		letter-spacing: 0.1em;
		font-size: 12px;
		padding: 0 14px;
		border-radius: 10px;
		vertical-align:top;
		line-height: 19px;
		float: right;
	}
	&__button-change {
		margin-right: 9px;
	}
	&__grid {
		// padding: 0 15px;
		margin: 26px auto 0px;
		width: 100%;
		// max-width: 1140px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__grid-item {
		border-radius: 10px;
		width: 49%;
		height: auto;
		margin-bottom: 8px;
	}
	&__show-more {
		margin-top: 11px;
		height: 40px;
		margin-bottom: 25px;
	}
}

@media (min-width: 480px) {
	.cabinet__grid-item {
		width: 32%;
	}
}

.clearfix {
	clear: both;
}