@font-face {
	font-family: 'Kaushan Script';
	src: url('/public/fonts/KaushanScript-Regular.woff') format('woff'),
	url('/public/fonts/KaushanScript-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'News Cycle';
	src: url('/public/fonts/NewsCycle.woff') format('woff'),
	url('/public/fonts/NewsCycle-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'News Cycle';
	src: url('/public/fonts/NewsCycle-Bold.woff') format('woff'),
	url('/public/fonts/NewsCycle-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}