* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

.body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'News Cycle', Arial, Helvetica, sans-serif;
	font-weight: bold;
	&_bg_accent {
		background: $accent;
	}
}

.header {
	padding: 0 20px;
	display: none;
	flex: 0 0 auto;
	height: 100px; 
	background-color: rgba(255,133,133,0.6); 
	color: #fff;
	&_bg_transparent {
		background-color: transparent;
		border-bottom: 1px solid #fff;
		margin-bottom: 100px;
	}
}

@media (min-width: 768px) {
	.header {
		display: block;
	}
}

.main-content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
	border-top: 1px solid #E6E6E6;
	background-color: $accent-6;
	font-size: 12px;
	color: #fff;
	&__text {
		padding: 15px 0;
		margin: 0 auto;
		text-align:center;
	}
	&_bg_transparent {
		background-color: transparent;
	}
}

.input {
	box-sizing: border-box;
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-1 {
	background: #FFFFFF;
	border-radius: 10px;
	min-width: 220px;
	min-height: 40px;
	font-family: inherit;
	font-weight: bold;
	font-size: 12px;
	line-height: 23px;
	border: 0px;
	padding: 0 10px;
	text-align: center;
	letter-spacing: 0.1em;
	&::placeholder {
		color: $placeholder_color;
		letter-spacing: 0.1em;
	}
}

.button {
	border: 3px solid #fff;
	border-radius: 10px;
	color: #fff;
	padding: 8px 16px;
	min-width: 200px;
	font-size: 12px;
	font-family: inherit;
	font-weight: bold;
	letter-spacing: 0.1em;
	cursor: pointer;
	&_bg_transparent {
		background: transparent;
		&:hover {
			background-color: #fff;
			color: $accent-8;
		}
	}
	&_bg_white {
		background: #fff;
		color: $accent-8;
		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}
	&_bg_pink {
		background: $accent-6;
		&:hover {
			background-color: #fff;
			color: $accent-8;
			border-color: $accent-8;
		}
	}
	&_link {
		text-decoration: none;
		text-align: center;
	}
	&[disabled] {
		color: #fff;
    	background: #6c7589;
		cursor: not-allowed;
		border-color: transparent;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgba(255, 133, 133, 0.25);
	}
}

.button-4 {
	margin: 0 auto;
	border-radius: 50%;
	width: 20%;
	height: 0;
	padding-bottom: 20%;
	color: #fff;
	background-color: $accent-8;
	border: none;
	cursor: pointer;
	&__img {
		width: 54%;
		height: auto;
	}
}

.top-line {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 70px;
	background-color: $accent;
}

@media (min-width: 768px) {
	.top-line {
		display: none;
	}
}

.logo {
	text-align: center;
	&__text {
		margin-top: -30px;
		display: block;
		color: #fff;
		font-family: Kaushan Script;
		font-weight: normal;
		font-size: 48px;
		line-height: 70px;	
	}
}

.link {
	text-decoration: none;
    color: $link_color;
	cursor: pointer;
	&_underline {
		text-decoration: underline;
	}
}

.title-1 {
	font-weight: Normal;
    display: block;
    color: #222;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.title-2 {
    font-weight: Normal;
    display: block;
    color: #222;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.title-3 {
    font-weight: Normal;
    display: block;
    color: #222;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.container {
	padding: 0 15px;
	min-width: 290px;
	text-align: center;
	width: 81.25%;
	max-width: 1140px;
	margin: 0 auto;
	&_small {
		max-width: 768px;
	}
}

.nav {
	display: flex;
	align-items: center;
	min-height: 60px;
	color: white;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		list-style: none;
		padding: 0 10px;
	}
}

.checkbox {
	&__input {
		display: none;	
	}
	&__custom-element {
		position: relative;
		cursor: pointer;	
	}
	&__custom-element:before {
		right: 0;
		box-sizing: border-box;
		content: '';
		position: absolute;
		width: 21px;
		height: 13px;
		border: 1px solid $accent-2;
		border-radius: 13px;
		background: #fff;
		transition: .2s;	
	}
	&__custom-element:after {
		box-sizing: border-box;
		content: '';
		position: absolute;
		right: 8px;
		width: 13px;
		height: 13px;
		border-radius: 10px;
		border: 1px solid $accent-2;
		background: #fff;
		transition: .2s;	
	}
	&__input:checked + &__custom-element:before {
		background: $accent-2;	
	}
	&__input:checked + &__custom-element:after {
		right: 0px;	
	}
}

.close {
	display: block;
	position: relative;
	border: 2px solid $accent-2;
	border-radius: 16px;
	width: 20px;
	height: 20px;
	&::before,
	&::after {
		position: absolute;
		left: 7px;
		top: 5px;
		content: ' ';
		height: 7px;
		width: 2px;
		border-radius: 1px;
		background-color: $accent-2;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}
