.gallery {
	padding-top: 20px;
	&__grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__grid-link {
		width: 49%;
		overflow: hidden;
		margin-bottom: 18px;
		border-radius: 5px;
	}
	&__grid-item {
		display: block;
		object-fit: cover;
		transition: all 0.3s ease-out;
		width: 100%;
		height: auto;
	}
	&__grid-item:hover {
		transform: scale(1.2);
	}
	&__show-more {
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

@media (min-width: 480px) {
	.gallery {
		&__grid {
			justify-content: flex-start;
		}
		&__grid-link {
			width: 32%;
			margin: 0 calc(4%/6) 18px;
		}
	}
}

@media (min-width: 768px) {
	.gallery {
		padding-top: 50px;
	}
}