.photo {
	&__output ~ &__form {
		display: none;
	}
	&__output {
		width: 100%;
		height: auto;
	}
	&__video {
		width: 100%;
		height: auto;
	}
	&__container {
		overflow: hidden;
		display: flex;
		min-height: 196px;
		border: 2px solid $accent;
		border-radius: 10px;
		margin: 22px auto;
		position: relative;
		max-width: 800px;
	}
	&__button {
		position: absolute;
		z-index: 2000;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5.8%;
	}
	&__button-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__mask {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border: 1px solid $accent-10;
		border-radius: 10px;
	}
	&__mask_active {
		background-color: rgb(255, 133, 133);
	}
	&__mask-img {
		width: 100%;
		max-height: 100%;
	}
	&__slider-container {
		position: relative;
		margin: 0 auto 15px;
		max-width: 800px;
	}
	
	&__scale-container {
		display: none;
		width:22%; 
		z-index: 1002;
		bottom: 10%;
		transform: translateY(-25%); 
		right: 12.3%; 
		position: absolute;
		justify-content: space-between; 
		align-items: center;
	}
	&__nav-center {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__nav-container {
		display: none;
		width:28.5%; 
		z-index: 1002; 
		bottom: 10%;
		transform: translateY(25%); 
		left: 6.15%; 
		position: absolute;  
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
	}
	&__mask-img ~ &__nav-container,
	&__mask-img ~ &__scale-container {
		display: flex;
	}
	&__nav-button {
		height: 0;
		overflow: hidden;
		padding-bottom: calc(27% - 4px);
		width: 27%;
		margin: 2px;
		position: relative;

		cursor:pointer;
		border-radius: 50%;
		color: $accent-10;
		background-color: transparent;
		border: 2px solid $accent-10;
	}
	&__nav-button:hover {
		background-color: $accent-6;
	}
	&__nav-img {
		height: 57%;
	}
	&__nav-img_rot-90 {
		transform: rotate(90deg);
	}
	&__nav-img_rot-180 {
		transform: rotate(180deg);
	}
	&__nav-img_rot-270 {
		transform: rotate(270deg);
	}
	&__scale-button {
		height: 0;
		overflow: hidden;
		padding-bottom: calc(35% - 4px);
		width: 35%;
		margin: 2px;
		position: relative;

		cursor: pointer;
		border-radius: 50%;
		color: $accent-10;
		background-color: transparent;
		border: 2px solid $accent-10;
	}
	&__scale-button:hover {
		background-color: $accent-6;
	}
	&__scale-img {
		width: 50%; 
	}
	&__preview {
		width: 100%;
		border-radius: 10px;
		display: block;
	}
	&__custom-input {
		margin-bottom: 10px;
	}
	&__exit-button {
		display: none;
		height: 0;
		overflow: hidden;
		padding-bottom: calc(9.6% - 4px);
		z-index: 1002;
		width: 9.6%;
		margin: 10px;
		position: absolute;

		cursor:pointer;
		color: $accent-10;
		background-color: transparent;
		border: none;
	}
	&__exit-img {
		width: 100%;
		max-width: 40px;
		padding: 5px;
	}
	&__copy-img {
		position: absolute;
		height: auto;
		z-index: 1001;
		transform: translateX(-50%);
	}
	&__button-public {
		margin-bottom: 18px;
	}
	&__grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__grid-link {
		width: 49%;
	}
	&__grid-item {
		width: 100%;
		height: auto;
		border-radius: 5px;
		margin-bottom: 18px;
	}
}

@media (min-width: 480px) {
	.photo__grid-link {
		width: 32%;
	}
}