.page {
	&__photo {
		width: 100%;
		height: auto;
		border-radius: 5px;
		margin: 18px auto;
	}
	&__likes {
		width: 20%;
		text-align: start;
		color: $accent-10;
	}
	&__likes-icon {
		cursor: pointer;
		width: 50%;
		max-width: 30px;
		vertical-align: middle;
	}
	&__commentaries {
		margin-bottom: 20px;
	}
	&__likes-number {
		font-size: 5vw;
		vertical-align: middle;
	}
	&__bottom-wrapper {
		display: flex; 
		justify-content: space-between; 
		margin-bottom: 15px; 
		align-items: center;
	}
	&__delete-form {
		width: 10%; 
		max-width: 30px;
	}
	&__delete-button {
		width: 100%; 
		background-color: transparent; 
		border: none; 
		vertical-align: middle
	}
	&__delete-icon {
		cursor: pointer;
		width: 100%; 
		vertical-align: middle;
	}
}

@media (min-width: 576px) {
	.page__likes-number{
		font-size: 24px;
	} 
}

.commentaries {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__heading {
		display: none;
	}
	&__form {
		width: 100%;
		display: flex;
		border: 1px solid $accent-6;
		border-radius: 10px;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	&__form-text {
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 0.1em;
		padding: 8px;
		border: none;
		border-radius: 10px;
		flex-grow: 1;
		flex-shrink: 1;
		&::placeholder {
			color: #C6C4C4;
		}
		&::-moz-input-placeholder {
			color: #C6C4C4;
		}
	}
	&__form-submit {
		padding: 8px;
		font-size: 12px;
		letter-spacing: 0.1em;
		border: none;
		border-radius: 8px;
		background-color: $accent-6;
		color: #fff;
	}
	&__show-more {
		font-size: 12px;
		letter-spacing: 0.1em;
		font-weight: normal;
		text-decoration: underline;
		color: $accent-10;
		border: none;
		background-color: transparent;
		margin-top: 10px;
	}
	&__show-more_hidden {
		display: none;
	}
}

.commentary {
	width: 100%;
	&_hidden {
		display: none;
	}
	&__text {
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0.1em;
		word-break: break-all;
    	text-align: start;
	}
	&__author {
		color: $accent-10;
	}
	&__delete-btn {
		cursor: pointer;
		background-color: transparent;
		border: none;
		float: right;
	}
	&__delete-btn:hover {
		color: red;
	}
}

.container_small {
	max-width: 540px;
}