.back {
	&__link {
		position: relative;
		line-height: 70px;
		font-size: 14px;
		letter-spacing: 0.1em;
		color: #fff;
		text-align: center;
		height: 70px;
		border-bottom: 2px solid #fff;
	}
	&__link::before {
		position: absolute;
		top: 32px;
		left: 24px;
		content: "";
		color: #fff;
		border: solid #fff;
    	border-width: 0 2px 2px 0;
    	display: inline-block;
		padding: 3px;
		transform: rotate(135deg);
	}
}

.register {
	padding: 10vh 0;
	&__form {
		display: flex;
		flex-direction: column;
		min-width: 220px;
		align-items: center;
	}
	&__form-button {
		margin-top: 14px;
	}
	&__form-input {
		margin-bottom: 18px;
	}
	&__logo {
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.register {
		&__form-input,
		&__form-button {
			min-width: 280px;
		}
	}
}