:root {
	--scale: 1.6;
	--padding: 10px;
}

$error: #a90303;
$accent: rgba(255, 133, 133, 0.6);
$accent-6: rgba(255, 133, 133, 0.6);
$accent-8: rgba(255, 133, 133, 0.8);
$accent-10: rgb(255, 133, 133);
$link_color: rgb(255, 133, 133);
$accent-2: #FF8383;
$font: #222;
$placeholder_color: #C6C4C4;